@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #e50914;
    border-radius: 9999px;
}

.responsive-embed-stream iframe {
    width: 100% !important;
    height: 100% !important;
    border: 0;
    display: block;
}
